html, body, * {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {

}

nav {
  float:right;
}

nav li {
  text-decoration: none;
  display: inline;
  list-style: none;
  color: white;
  opacity: 0.8;
  padding-right: 1em;
}



header {
  /*background-color: blue;*/
  height: 500px;
  margin: 0;
  background-image: url("../images/SLC-downtown.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

nav ul {
  padding-right: 5em;

}

ul {
  font-size: 35px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover span{
  display:block;
}

span{
    background: lightgrey;
    border: 5px solid #DFDFDF;
    color: lightblack;
    font-family: Arial;
    font-size: 15px;
    height: auto;
    width: 900px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: center;
    top: -10px;
    left: -30px;
    display: none;
    padding: 0 20px;
}

/*
span:after{
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}*/

#tiy-logo {
  height: 50px;
  width: 50px;
}

/*.header-image {
  background-image:url("./images/banner-pic.jpg");*/

.flex-menu-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    /*align-items: flex-start;*/
}

.flex-columns-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
}

/*.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}*/

.flex-menu-item {
    /*width: <property unused>*/
    /*height: 100px;*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;

}

 .flex-column-item {
    width: 33%;
    /*height: <property unused>*/
    flex-grow: 1;
    flex-shrink: 1;
    /*flex-basis: 470px;*/
    border: 2px solid black;
    /*font-size: 25px;*/
    text-align: center;

}

.flex-footer {
    /*width: <property unused>
    height: <property unused>*/
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
    background-color: khaki;
}

.float-left {
  float: left;
  width: 125px;
}

.float-right {
  float: right;
  width: 125px;
}

p {
  font-size: 20px;
}
/*
.btn {
  background: black;
  background-image: -webkit-linear-gradient(top, black, khaki);
  background-image: -moz-linear-gradient(top, black, khaki);
  background-image: -ms-linear-gradient(top, black, khaki);
  background-image: -o-linear-gradient(top, black, khaki);
  background-image: linear-gradient(to bottom, black, khaki);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, khaki , black);
  background-image: -moz-linear-gradient(top, khaki , black);
  background-image: -ms-linear-gradient(top, khaki , black);
  background-image: -o-linear-gradient(top, khaki , black);
  background-image: linear-gradient(to bottom, khaki , black);
  text-decoration: none;
}*/
