body {
  background-color: khaki;
}
.flex-menu-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.flex-columns-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
}

.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

.flex-menu-item {
    width: <property unused>
    height: 70px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}

 .flex-column-item {
    width: 32%;
    height: <property unused>
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    border: 2px solid black;
    font-size: 15px;
}
